*{
    margin: 0;
}
body{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
#h1{
    font-family: monospace;
    font-size: 100px;
    font-family:cursive;
    text-shadow: 0 0 10px rgb(7, 247, 235);
}
.btn{
    color: white;
    background-color: rgba(0, 0, 0, 0.994);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 14PX;
    font-weight: 600;
    font-family: cursive;
    box-shadow: 0px 2px 0px 2px red;
}
.btn:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
}